<template>
<div class="solution mb-20">
  <div class="solutions">
    <p class="uppercase text-4xl mb-3 text-[#FFFFFF]">Solution</p>
    <p class="text-[#AEAEB2]">We will be the suitable and reliable partner who address all your pain points.</p>
  </div>
  <div class="solution__content">
    <div class="solution__item border-b-2 border-[#2C2C2E] ">
      <div class="item-left flex-1">
       <div class="item-stt">
         <img class="" alt="solution-01" src="~assets/01.png" />
       </div>
        <div class="item-content">
          <p class="uppercase font-bold text-2xl text-[#FFFFFF]">Wide breadth of
            <br> experience</p>
        </div>
      </div>
      <div class="item-right ">
        <p class="text-[#AEAEB2] text-sm">
          In 2006, TP was established by 03 founders - persons with deep knowledge, passion for cutting-edge technology, eagerness to learn and desire to make a better society by developing software. After many years of accumulated experience and continuous improvement, the company has grown and expanded in scale, becoming the partner of many large global enterprises such as: LG, Samsung, Naver (Korea), EA (USA), Starhub (Singapore)..v..v…
        </p>
      </div>
    </div>
    <div class="solution__item border-b-2 border-[#2C2C2E]">
      <div class="item-left flex-1">
        <div class="item-stt">
          <img class="" alt="solution-02" src="~assets/02.png" />
        </div>
        <div class="item-content">
          <p class="uppercase font-bold text-2xl text-[#FFFFFF]">Vietnam,
            <br>ideal destination</p>
        </div>
      </div>
      <div class="item-right ">
        <p class="text-[#AEAEB2] text-sm">
          According to the AT Kearney Global Service Location Index 2021, Vietnam ranks #6th among the top countries recognized as excellent destinations for outsourcing services and the emergence of digital hubs.
          Advantage is the country’s youthful population who is the well-educated generation, specializing in technology. Many giant tech companies such as IBM, Intel, Cisco, Sony, and Apple have chosen Vietnam as new land for their investment. Vietnam is the best choice for companies seeking cost-effective solutions that are also technologically advanced.
          With our strong cultural knowledge and extensive market experiences, we enable your company expand in Vietnam and Asia Pacific Region.
        </p>
      </div>
    </div>
    <div class="solution__item border-b-2 border-[#2C2C2E] ">
      <div class="item-left flex-1">
        <div class="item-stt">
          <img class="" alt="solution-03" src="~assets/03.png" />
        </div>
        <div class="item-content">
          <p class="uppercase font-bold text-2xl text-[#FFFFFF]">Fluent English
            <br>Developers</p>
        </div>
      </div>
      <div class="item-right ">
        <p class="text-[#AEAEB2] text-sm">We are aware that communication used to be a barrier between Asia and English-speaking clients but with us it’s not anymore. It is the must-have requirement for all developers to have an English certificate TOEIC when entering the company. It is guaranteed that language barrier is eliminated so we can achieve clear requirements to serve clients the best quality service.
        </p>
      </div>
    </div>
    <div class="solution__item ">
      <div class="item-left flex-1">
        <div class="item-stt">
          <img class="" alt="solution-04" src="~assets/04.png" />
        </div>
        <div class="item-content">
          <p class="uppercase font-bold text-2xl text-[#FFFFFF]">NDA signing</p>
        </div>
      </div>
      <div class="item-right ">
        <p class="text-[#AEAEB2] text-sm">Clients may feel nervous about the danger of information leakage. To avoid this, we are willing to sign an NDA which shows our deep regard for the work and our commitment to keep things confidential. NDA is a great way to build trust allowing clients to feel at ease when working with us.
        </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "Solution"
}
</script>

<style scoped>
.solution__item{
  display: flex;
  margin-top: 10px;
  padding-bottom: 40px;
}
.item-left{
  position: relative;
}
.item-right{

  width: 766px;
}
.item-stt{
  position: absolute;
}
.item-content{
  margin-top: 60px;
  margin-left: 53px;
}
</style>
